body{
    margin:0%;
    box-sizing:border-box;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: aliceblue;
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;

}
.first-container{
    height:100vh;
    overflow: hidden;
    width:100vw;
    position: relative;
    background-color: rgb(129, 208, 208);
}
.my-details{
    position: relative;
    color:rgb(0, 85, 154);
    text-align: center;
    top:260px;
    z-index:11;
}
.sun{
    height:400px;
    position: absolute;
    bottom:-200px;
    right:455px;
    z-index: 3;

    
    
}
.mountain{
    position:absolute;
    bottom:0px;
    z-index:10;
}
.mountain.one{
    position:absolute;
    height:500px;
    bottom:-10px;
    left:-120px;
}
.mountain.two{
    position:absolute;
    height:500px;
    bottom:-10px;
    right:-100px;
    z-index:9;
}

.snow-flake{
    position:absolute;
    height:20px;
    z-index:11;
    
}
.snow-flake.one{
    top:80px;
    right:600px;

}
.snow-flake.two{
    top:40px;
    left:200px;

}
.snow-flake.three{
    bottom:300px;
    right:150px;

}
.snow-flake.four{
    top:40px;
    right:450px;

}.snow-flake.five{
    bottom:500px;
    left:300px;

}
.snow-flake.six{
    top:250px;
    right:600px;

}

.snow-flake.seven{
    top:30px;
    right:200px;

}
v
.snow-flake.eight{
    top:200px;
    left:200px;

}
.snow-flake.nine{
    top:320px;
    left:500px;

}
.snow-flake.ten{
    top:250px;
    right:300px;

}
.snow-flake.eleven{
    top:330px;
    right:400px;

}

.snow-flake.twelve{
    top:220px;
    right:120px;

}

.snow-flake.thirteen{
    top:150px;
    right:320px;

}

.snow-flake.fourteen{
    top:230px;
    right:450px;

}
.snow-flake.fifteen{
    top:120px;
    left:450px;

}

.snow-flake.sixteen{
    top:30px;
    right:800px;

}

.snow-flake.seventeen{
    top:280px;
    right:200px;

}
.snow-flake.eighteen{
    bottom:250px;
    left:300px;

}
.snow-flake.nineteen{
    bottom:3000px;
    left:350px;

}.snow-flake.twenty{
    bottom:400px;
    left:100px;

}
.snow-flake.twentyone{
    bottom:300px;
    left:135px;

}
.content{
    margin:5em 0 5em 0;
    font-family:'Times New Roman', Times, serif;
    background-color: aliceblue;
}
.content h3,h2{
    color:aquamarine;
    
}
.section-1{
    margin:0 auto;
    width:50%;
    margin-bottom:20px;
}
.section-2{
    margin:0 auto;
    width:70%;
    position:relative;
}
.section-2 h2{
    margin-top:20px;
    margin-bottom:0px;
}
hr{
    margin:auto;
    border-left:none;
    border-right:none;
    border-top:none;
    position:relative;
    border-bottom: 5px dotted rgb(0, 255, 157);
    color: #fff;
    height: 5px;
    width: 40%;
    display:inline-block;
    margin-top:20px;
    margin-bottom:20px;

}
.skill-box{
    display:flex;
    width:60%;
    margin:20px;
    padding:20px;
}
.skill-box.one{
    margin-left:0px;
    float:left;
    position: relative;
    
}
.skill-box.two{
    margin-right:0px;
    position: relative;
    float:right;
    

}
.skill-box p{
    font-size:14px;
}
.skill-content h3{
    text-align:left;
    
    font-size: 15px;
    
}
.skill-content{
    
    text-align:left;

}
.icon{
    height:100px;
    justify-self: center;
    align-items: center;

}
.icon-box{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:flex-end;
}
.icon.one{
    margin-right:20px;
}
.icon.two{
    margin-left:20px;
}
.section-3{
    text-align:center;
    width:50%;
    margin:auto;
}
.section-3 h2,.section-1 h2{
    margin:20px;
}
.section-3 button{
    color:white;
    background-color: rgb(71, 146, 146);
    padding:5px;
    border:none;
    box-shadow: blue;
    border-radius:10%;
    margin:20px;
} 
.section-3 button:hover{
   color:beige;
   background-color: rgb(52, 211, 158);
}
.last{
    margin-top:40px;
}
.first{
    color:rgb(34, 207, 149);
}
h3{
    margin:20px;
}
.footer{
    margin:0%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.footer-content-1{
    display:flex;
   align-items: center;
   justify-content: center;
}
.footer-content-1 a{
    text-decoration:none; padding:20px;
}
.footer-content-1 a:hover{
    color:aliceblue;
}





